@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

    We value the trust you place in us and recognize the importance of information privacy. This privacy policy (“Privacy Policy”) describes how Flipkart collects, uses, shares, stores or otherwise processes your personal information through the Flipkart Group Corporate website <a href="https://store.net">Store</a>, m-site (hereinafter to as the “Platform”).
    <br />
    <br />
    While you may be able to browse the Platform across the globe without registering with us or without sharing any personal information, in case you voluntarily share your personal information, it will primarily be stored and processed in India and may have data protection laws that are different from those that apply in the country in which you are located. By visiting this Platform, you expressly agree to be bound by the terms and conditions of this Privacy Policy, the Terms of Use and agree to be governed by the laws of India including but not limited to the laws applicable to data protection and privacy. If you do not agree please do not use or access our Platform.
    <br />
    <h2>Collection of your Information</h2>
    <br />
    When you browse the content or use the Platform or connect with us, we do not collect any information about you. In general, you can browse the Platform without telling us who you are or revealing any personal information about yourself. However, in case you voluntarily provide your personal information to us, you will not be anonymous to us and your personal information will be processed as per applicable laws in India. Please refrain from providing any personal information including sensitive personal information in case you try to contact us directly on the email.
    <br />
    If you send us any personal correspondence, such as emails or letters, we may collect such information into a file specific to you and stored in a server of our discretion.
    <br />
    <br />
    <h2>Use of your Information</h2>
    <br />
    We identify and use your IP address to help diagnose problems with our server, and to administer our Platform. Your IP address may be used to identify you and to gather broad information. We may also use your information for legal or regulatory purposes or reach out back to you in case of any potential business opportunities.
    <br />
    We may process certain information of the website’s visitors and analyze it on an aggregated basis. This information may include the URL that you just came from (whether this URL is on our Platform or not), which URL you next go to (whether this URL is on our Platform or not), your computer browser information, and your IP address. For clarity, and notwithstanding anything contained herein, all interactions and transactions outside our Platform are expressly disclaimed from our responsibility or liability (of any kind).
    <br />
</p>
